{{ define "main" }}
<section id="header">
    <svg id="logo" version="1.1" viewBox="0 0 737.34 469.86" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-655.68 -286.5)">
            <circle cx="1024.4" cy="521.43" r="155.94" fill="#f3f0ea" stop-color="#000000" stroke-width="3.8556" style="-inkscape-stroke:none"/>
            <circle cx="1024.4" cy="521.43" r="229.08" fill="none" stop-color="#000000" stroke="#f3f0ea" stroke-width="11.7"/>
            <ellipse id="path3447" transform="scale(-1)" cx="-1024.4" cy="-521.44" rx="364.56" ry="65.751" fill-opacity="0" stop-color="#000000" stroke="#f3f0ea" stroke-dasharray="32.86000061,32.86000061" stroke-dashoffset="12.323" stroke-linejoin="bevel" stroke-width="8.215" style="paint-order:fill markers stroke"/>
        </g>
    </svg>
    
    <h1>Gluten free horoscopes.</h1>
</section>
<section id="content">
    <div id="signs" hx-target="#main" hx-push-url="true" hx-swap="innerHTML">
        <div class="sign" hx-get="aries">
            {{ svg "images/aries.svg"}}
            <span>Aries</span>
        </div>
        <div class="sign" hx-get="taurus">
            {{ svg "images/taurus.svg"}}
            <span>Taurus</span>
        </div>
        <div class="sign" hx-get="gemini">
            {{ svg "images/gemini.svg"}}
            <span>Gemini</span>
        </div>
        <div class="sign" hx-get="cancer">
            {{ svg "images/cancer.svg"}}
            <span>Cancer</span>
        </div>
        <div class="sign" hx-get="leo">
            {{ svg "images/leo.svg"}}
            <span>Leo</span>
        </div>
        <div class="sign" hx-get="virgo">
            {{ svg "images/virgo.svg"}}
            <span>Virgo</span>
        </div>
        <div class="sign" hx-get="libra">
            {{ svg "images/libra.svg"}}
            <span>Libra</span>
        </div>
        <div class="sign" hx-get="scorpio">
            {{ svg "images/scorpio.svg"}}
            <span>Scorpio</span>
        </div>
        <div class="sign" hx-get="sagittarius">
            {{ svg "images/sagittarius.svg"}}
            <span>Sagittarius</span>
        </div>
        <div class="sign" hx-get="capricorn">
            {{ svg "images/capricorn.svg"}}
            <span>Capricorn</span>
        </div>
        <div class="sign" hx-get="aquarius">
            {{ svg "images/aquarius.svg"}}
            <span>Aquarius</span>
        </div>
        <div class="sign" hx-get="pisces">
            {{ svg "images/pisces.svg"}}
            <span>Pisces</span>
        </div>
    </div>
</section>
<section id="footer">
    <div class="pointer inline-block" hx-get="/starsign" hx-target="#main" hx-push-url="true" hx-swap="innerHTML">
        What's my star sign?
    </div>
</section>
<title id="title" hx-swap-oob="true">{{ .title }}</title>
{{ end }}