{{ define "main" }}
<section id="header">
    <svg id="logo" version="1.1" viewBox="0 0 737.34 469.86" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-655.68 -286.5)">
            <circle cx="1024.4" cy="521.43" r="155.94" fill="#f3f0ea" stop-color="#000000" stroke-width="3.8556" style="-inkscape-stroke:none"/>
            <circle cx="1024.4" cy="521.43" r="229.08" fill="none" stop-color="#000000" stroke="#f3f0ea" stroke-width="11.7"/>
            <ellipse id="path3447" transform="scale(-1)" cx="-1024.4" cy="-521.44" rx="364.56" ry="65.751" fill-opacity="0" stop-color="#000000" stroke="#f3f0ea" stroke-dasharray="32.86000061,32.86000061" stroke-dashoffset="12.323" stroke-linejoin="bevel" stroke-width="8.215" style="paint-order:fill markers stroke"/>
        </g>
    </svg>
    
    <h1>What's my star sign?</h1>
</section>
<section id="content">
    <h2>Who gives a shit.</h2>
</section>
<section id="footer">
        <img src="assets/images/back.svg" id="back" hx-get="/" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
</section>
<title id="title" hx-swap-oob="true">{{ .title }}</title>
{{ end }}